<form method="post" class="deleteForm" action="{{ path('admin_discipline_delete', {'id': discipline.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cette matière ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ discipline.id) }}">
    <button class="btn error">Supprimer</button>
</form>
