{% set linksMap = {
    'home': {
        'display': true,
        'title': 'Accueil',
        'url': path('home'),
    },
    'register': {
        'display': null == app.user,
        'title': 'S\'inscrire',
        'url': path('register'),
    },
    'app_login': {
        'display': null == app.user,
        'title': 'Se connecter',
        'url': path("app_login"),
    },
    'app_logout': {
        'display': null != app.user,
        'title': 'Déconnexion',
        'url': path("app_logout"),
    },
} %}

{% set adminLinksMap = {
    'admin_discipline': {
        'title': 'Matières',
        'url': path('admin_discipline'),
    },
} %}

<aside class="sidebar">
    <h2>Tutorials</h2>

    {% if app.user %}
        <div class="profile">
            Connecter en tant que : <span class="username">{{ app.user.username }}</span>
        </div>
    {% endif %}

    <nav class="navigation">
        {% if is_granted('ROLE_ADMIN') %}
            <ul class="list">
                {% for key, value in adminLinksMap %}
                    {% include 'components/sidebar/menu-link.html.twig' with {
                        'display': true,
                        'title': value.title,
                        'url': value.url,
                        'active': app.request.attributes.get('_route') == key,
                    } %}
                {% endfor %}
            </ul>
        {% endif %}
        
        <ul class="list">
            {% for key, value in linksMap %}
                {% include 'components/sidebar/menu-link.html.twig' with {
                    'display': value.display,
                    'title': value.title,
                    'url': value.url,
                    'active': app.request.attributes.get('_route') == key,
                } %}
            {% endfor %}
        </ul>
    </nav>
</aside>
