<div class="banner">
    <p>Votre compte a été banni, vous n'aurez accès qu'aux parties publique du site. <span class="cheh">(CHEH)</span></p>

    <div class="actions">
        <a href="{{ path('app_logout') }}" class="choice btn warning">
            Renoncer
        </a>

        <a href="#" class="choice btn error">
            Riposter
        </a>
    </div>
</div>
